<div class="container">
  <h2>Agregar Moto</h2>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card-body">
        <form [formGroup]="motoForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="modelo">Modelo:</label>
            <input type="text" class="form-control" formControlName="modelo">
              <!--MENSAJE DE ERROR DE VALIDACIÓN-->
              <div style="color: red;"
                  *ngIf="enviado && myForm['modelo'].errors?.['required']">
                Este campo es obligatorio
              </div>
          </div>

          <div class="form-group">
            <label for="marca">Marca</label>
            <select class="custom-select form-control" (change)="actualizarMarca($event.target.value)" formControlName="marca">

              <option value="">Selecciona una marca</option>
              <option *ngFor="let marca of motoMarca" value="{{marca}}">{{marca}}</option>
            </select>
             <!--MENSAJE DE ERROR DE VALIDACIÓN-->

             <div style="color: red;"
              *ngIf="enviado && myForm['marca'].errors?.['required']">
                Debes seleccionar una marca
             </div>
          </div>

          <div class="form-group">
            <label for="anio">Año</label>
            <input type="text" class="form-control" formControlName="anio">
             <!--MENSAJE DE ERROR DE VALIDACIÓN-->
             <div style="color: red;"
             *ngIf="enviado && myForm['anio'].errors?.['required']">
              Este campo es obligatorio
            </div>
             <!--MENSAJE DE ERROR DE VALIDACIÓN-->
             <div style="color: red;"
             *ngIf="enviado && myForm['anio'].errors?.['pattern']">
              El año no es valido
            </div>
          </div>

          <div class="form-group">
            <label for="precio">Precio</label>
            <input type="text" class="form-control" formControlName="precio">
             <!--MENSAJE DE ERROR DE VALIDACIÓN-->
             <div style="color: red;"
             *ngIf="enviado && myForm['precio'].errors?.['required']">
              Este campo es obligatorio
            </div>
             <!--MENSAJE DE ERROR DE VALIDACIÓN-->
             <div style="color: red;"
             *ngIf="enviado && myForm['precio'].errors?.['pattern']">
              Solamente se aceptan números
            </div>
          </div>


          <div class="form-group">
            <label for="imagen">Imagen:</label>
            <input type="text" class="form-control" formControlName="imagen">
              <!--MENSAJE DE ERROR DE VALIDACIÓN-->
              <div style="color: red;"
                  *ngIf="enviado && myForm['imagen'].errors?.['required']">
                Este campo es obligatorio
              </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">
              Agregar
            </button>
          </div>





        </form>
      </div>
    </div>
  </div>

</div>
