<nav class="navbar navbar-expand-lg nav-bar-dark bg-dark" data-bs-theme="dark">
  <a class="navbar-brand">Motos DS01</a>

  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-moto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"
          routerLink="/listar-motos">Ver Motos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"
          routerLink="/crear-motos">Agregar Moto</a>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
